<style>
    .button-left {
        margin-right: auto;
        margin-left: 1%;
    }
</style>

<MudDialog>
    <TitleContent>
         <MudText Typo="Typo.h6" Align="Align.Center">
             <MudIcon Class="mr-3 mb-n1"/>
             Edit @EntityName
         </MudText>
     </TitleContent>
     <DialogActions>
        <div class="button-left">
            <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Delete" Color="Color.Error" OnClick="@OpenDeleteDialog">Delete</MudButton>
        </div>
        <MudButton Color="Color.Default" Variant="Variant.Filled" OnClick="@Cancel">Cancel</MudButton>
        <MudButton Color="Color.Info" Variant="Variant.Filled" OnClick="@Submit">Save</MudButton>
    </DialogActions>
</MudDialog>  

@code {
    [CascadingParameter] 
    private MudDialogInstance MudDialog { get; set; }

    [Parameter] 
    public string EntityName { get; set; } = string.Empty;

    [Parameter] 
    public EventCallback<bool> OnSubmit{ get; set; }

    [Parameter] 
    public EventCallback<bool> OnCancel { get; set; }

    [Parameter] 
    public EventCallback<bool> OnOpenDeleteDialog { get; set; }

    private async Task Submit() => await OnSubmit.InvokeAsync();

    private async Task Cancel() => await OnCancel.InvokeAsync();

    private async Task OpenDeleteDialog() => await OnOpenDeleteDialog.InvokeAsync();
}
